<form class="{{moduleName}}-form">
    <p>
        For more information on how to use this section, please visit the foundry page for this module:
        <a href="https://foundryvtt.com/packages/token-tooltip-alt/">Token Tooltip Alt</a>
    </p>
    
    <h2>Friendly tokens</h2>
    <div class="form-group">
        <table class="{{moduleName}}-table">
            <thead>
            <tr>
                <th scope="col" class="{{moduleName}}-col_color">Color</th>
                <th scope="col" class="{{moduleName}}-col_icon">Icon</th>
                <th scope="col" class="{{moduleName}}-col_value">Value</th>
                <th scope="col" class="{{moduleName}}-col_expression">Exp</th>
                <th scope="col" class="{{moduleName}}-col_isNumber">Nr</th>
                <th scope="col" class="{{moduleName}}-col_delete">Delete</th> <!-- delete button -->
            </tr>
            </thead>
            <tbody class="{{moduleName}}-friendly">
            {{#each tooltipItems}}
                <tr class="{{../moduleName}}-row" index="{{@index}}">
                    <td class="{{../moduleName}}-row_color">
                        <input type="color" name="color.{{@index}}" value="{{color}}" data-dtype="String">
                    </td>
                    <td class="{{../moduleName}}-row_icon">
                        <input type="text" name="icon.{{@index}}" value="{{icon}}" data-dtype="String">
                    </td>
                    <td class="{{../moduleName}}-row_tracked-value">
                        <input type="text" name="value.{{@index}}" value="{{value}}" data-dtype="String">
                    </td>
                    <td class="{{../moduleName}}-row_expression">
                        <input type="checkbox" name="expression.{{@index}}" data-dtype="Boolean" {{#if expression}}checked{{/if}}>
                    </td>
                    <td class="{{../moduleName}}-row_isNumber">
                        <input type="checkbox" name="isNumber.{{@index}}" data-dtype="Boolean" {{#if isNumber}}checked{{/if}}>
                    </td>
                    <td class="{{../moduleName}}-row_delete">
                        <button class="{{../moduleName}}-row_button delete" type="button" title="Delete"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <button type="button" name="add" class="{{moduleName}}-button add">
            <i class="fa fa-plus"></i> <span>Add</span>
        </button>
    </div>
    
    <h2>Hostile tokens</h2>
    <div class="form-group">
        <table class="{{moduleName}}-table">
            <thead>
            <tr>
                <th scope="col" class="{{moduleName}}-col_color">Color</th>
                <th scope="col" class="{{moduleName}}-col_icon">Icon</th>
                <th scope="col" class="{{moduleName}}-col_value">Value</th>
                <th scope="col" class="{{moduleName}}-col_expression">Exp</th>
                <th scope="col" class="{{moduleName}}-col_isNumber">Nr</th>
                <th scope="col" class="{{moduleName}}-col_delete">Delete</th> <!-- delete button -->
            </tr>
            </thead>
            <tbody class="{{moduleName}}-hostile">
            {{#each hostileItems}}
                <tr class="{{../moduleName}}-row" index="{{@index}}">
                    <td class="{{../moduleName}}-row_color">
                        <input type="color" name="color_h.{{@index}}" value="{{color}}" data-dtype="String">
                    </td>
                    <td class="{{../moduleName}}-row_icon">
                        <input type="text" name="icon_h.{{@index}}" value="{{icon}}" data-dtype="String">
                    </td>
                    <td class="{{../moduleName}}-row_tracked-value">
                        <input type="text" name="value_h.{{@index}}" value="{{value}}" data-dtype="String">
                    </td>
                    <td class="{{../moduleName}}-row_expression">
                        <input type="checkbox" name="expression_h.{{@index}}" data-dtype="Boolean" {{#if expression}}checked{{/if}}>
                    </td>
                    <td class="{{../moduleName}}-row_isNumber">
                        <input type="checkbox" name="isNumber_h.{{@index}}" data-dtype="Boolean" {{#if isNumber}}checked{{/if}}>
                    </td>
                    <td class="{{../moduleName}}-row_delete">
                        <button class="{{../moduleName}}-row_button delete_h" type="button" title="Delete"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <button type="button" name="add" class="{{moduleName}}-button add_h">
            <i class="fa fa-plus"></i> <span>Add</span>
        </button>
    </div>

    <h2>Settings</h2>
    {{#each settingsEditorOptions}}
        <div class="form-group">
            <label>{{settings.name}}</label>
            <div class="form-fields">
                {{#if custom.isCheckbox}}
                    <input type="{{custom.type}}" name="{{../moduleName}}.{{key}}" data-dtype="{{custom.dataDtype}}" {{#if custom.value}}checked{{/if}}>
                {{else}}
                    <input type="{{custom.type}}" name="{{../moduleName}}.{{key}}" value="{{custom.value}}" data-dtype="{{custom.dataDtype}}">
                {{/if}}
            </div>
            <p class="notes">{{settings.hint}}</p>
        </div>
    {{/each}}
    
    <footer class="{{moduleName}}-footer sheet-footer flexrow">
        <button type="submit" name="submit" class="{{moduleName}}-footer_button submit">
            <i class="fa fa-check"></i> <span>Save</span>
        </button>
    </footer>
</form>