<form class="{{moduleName}}-form">
    <div class="{{moduleName}}-container form-group">
        <!-- Left side of the screen reserved for GM settings -->
        {{> 'modules/token-tooltip-alt/templates/tooltip-editor-gm.hbs' this}}

        <!-- Right side of the screen reserved for Player settings -->
        {{> 'modules/token-tooltip-alt/templates/tooltip-editor-player.hbs' this}}
    </div>

    <!-- Footer buttons -->
    <footer class="{{moduleName}}-footer sheet-footer flexrow">
        <button type="submit" name="submit" class="{{moduleName}}-footer_button submit">
            <i class="fa fa-check"></i> <span>Save</span>
        </button>

        {{#if (eq isDefault false)}}
            <button type="button" name="import" class="{{moduleName}}-footer_button import">
                <i class="fas fa-edit"></i> <span>Import from default</span>
            </button>
        {{/if}}
    </footer>

</form>