<form class="{{moduleName}}-form">
    <section class="{{moduleName}}-data-manager-section">
        <textarea class="{{moduleName}}-textarea data-manager {{#if isImport}}import{{/if}}" name="data"></textarea>
    </section>

    {{#if isImport}}
        <footer class="{{moduleName}}-footer sheet-footer flexrow">
            <button type="submit" name="submit" class="{{moduleName}}-footer_button submit">
                <i class="fa fa-check"></i> <span>{{localize 'token-tooltip-alt.buttons.import'}}</span>
            </button>
        </footer>
    {{/if}}
</form>
