<div class="{{moduleName}}-tooltip-content">
    {{#if tokenName}}
        <h4 class="{{moduleName}}-tooltip-title"><span>{{tokenName}}</span></h4>
    {{/if}}
    <div class="{{moduleName}}-tooltip-items" style="grid-template-columns: repeat({{numberOfColumns}}, auto)">
        {{#each stats}}
            <div class="{{../moduleName}}-tooltip-column">
                {{#each this}}
                    {{#if htmlType}}
                        <div style="color: {{color}};">{{{icon}}}</div>
                    {{else if iconType}}
                        <div><i class="fas {{icon}}" style="color: {{color}};"></i></div>
                    {{else}}
                        <img class="{{../../moduleName}}-tooltip-image" src="{{icon}}" alt="" style="max-width:{{iconSize}}">
                    {{/if}}
                    <div class="{{../../moduleName}}-tooltip-value">{{value}}</div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>
