<div class="{{moduleName}}-tooltip-content">
    {{#if tokenName}}
        <h4 class="{{moduleName}}-tooltip-item title"><span>{{tokenName}}</span></h4>
    {{/if}}
    <div class="{{moduleName}}-tooltip-items" style="grid-template-columns: repeat({{numberOfColumns}}, auto)">
        {{#each stats}}
            <div class="{{../moduleName}}-tooltip-column">
                {{#each this}}
                    <div class="{{../../moduleName}}-tooltip-item" style="grid-template-columns: minmax({{iconSize}}rem, 1fr) auto;">
                        {{#if htmlType}}
                            <span style="color: {{color}};">{{{icon}}}</span>
                        {{else if iconType}}
                            <i class="fas {{icon}}" style="color: {{color}};"></i>
                        {{else}}
                            <img src="{{icon}}" alt="">
                        {{/if}}
                        <span>{{value}}</span>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>
