<form class="{{moduleName}}-form">
    <p>
        {{localize 'token-tooltip-alt.tooltipManager.infoMessage'}}
        <a href="https://github.com/bmarian/token-tooltip-alt/blob/master/README.md">README</a>
    </p>
    <div class="form-group">
        <table class="{{moduleName}}-table">
            <thead>
            <tr>
                <th scope="col" class="{{moduleName}}-col_actor">{{localize 'token-tooltip-alt.tooltipManager.col.actor'}}</th>
                <th scope="col" class="{{moduleName}}-col_enable">{{localize 'token-tooltip-alt.tooltipManager.col.enable'}}</th>
                <th scope="col" class="{{moduleName}}-col_custom">{{localize 'token-tooltip-alt.tooltipManager.col.custom'}}</th>
                <th scope="col" class="{{moduleName}}-col_edit">{{localize 'token-tooltip-alt.tooltipManager.col.edit'}}</th>
            </tr>
            </thead>
            <tbody class="{{moduleName}}-tooltip-manager">
            {{#each actors}}
                <tr class="{{../moduleName}}-row" index="{{@index}}">
                    <td class="{{../moduleName}}-row_id">
                        <label>
                            <input type="text" name="{{id}}" value="{{id}}" data-dtype="String" disabled>
                        </label>
                    </td>
                    <td class="{{../moduleName}}-row_enable">
                        <label>
                            <input type="checkbox" name="{{id}}.enable" data-dtype="Boolean" {{#if enable}}checked{{/if}} {{#if isDefault}}checked disabled{{/if}}>
                        </label>
                    </td>
                    <td class="{{../moduleName}}-row_custom">
                        <label>
                            <input type="checkbox" name="{{id}}.custom" data-dtype="Boolean" {{#if custom}}checked{{/if}} {{#if isDefault}}checked disabled{{/if}}>
                        </label>
                    </td>
                    <td class="{{../moduleName}}-row_edit">
                        <button class="{{../moduleName}}-row_button edit" name="{{id}}" type="button" title="{{localize 'token-tooltip-alt.tooltipManager.col.edit'}}">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <footer class="{{moduleName}}-footer sheet-footer flexrow">
        <button type="button" name="import" class="{{moduleName}}-footer_button import">
            <i class="fa fa-file-import"></i> <span>{{localize 'token-tooltip-alt.buttons.import'}}</span>
        </button>

        <button type="button" name="export" class="{{moduleName}}-footer_button export">
            <i class="fas fa-file-export"></i> <span>{{localize 'token-tooltip-alt.buttons.export'}}</span>
        </button>
    </footer>
</form>
